@model List<Categorie>
﻿@{
    Layout = null;
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Secttore Industrial Category Bootstrap Responsive Web Template | Services :: W3layouts</title>
    <!--/fonts-->
    <link href="//fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap"
          rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style-starter.css">
</head>

<body>
    <!--header-->
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke px-0 pt-lg-0">
                <h1>
                    <a class="navbar-brand" href="index.html">
                        Khi<i class="fas fa-hard-hat"></i>Dma
                    </a>
                </h1>
                <!-- if logo is image enable this
                <a class="navbar-brand" href="#index.html">
                    <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-lg-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href=@Url.Action("Show","Acceuil")">Acceuil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Show", "About")">Àpropos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Show","Categories")">Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Show","Contact")">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Show","SignIn")">Connexion </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("choix","SignUp")">Inscription</a>
                        </li>
                    </ul>
                    <!--/search-right-->
                    <div class="search-right">
                        <div id="wrap">
                            <form action="" autocomplete="on">
                                <input id="search" name="search" type="text" placeholder="Rechercher ici..."><input id="search_submit"
                                                                                                                 value="Rechercher" type="submit">
                            </form>
                        </div>
                        <!-- /search popup -->
                    </div>
                    <!--//search-right-->
                    <div class="top-quote mr-lg-3 mt-lg-0 mr-lg-4">
                        <a href="contact.html" class="btn btn-style btn-white btn-primary">Devis</a>
                    </div>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//header-->
    <!--/inner-page-->
    <div class="inner-banner">
    </div>
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Acceuil</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>Services</li>
            </ul>
        </div>
    </section>
    <!--//inner-page-->
    <!--/services-->
    <section class="w3l-services2" id="services">
        <div id="cwp23-block" class="py-5">
            <div class="container py-lg-5">
                <div class="row cwp23-content mt-lg-5 mt-4">
                    <div class="col-lg-6 cwp23-img">
                        <h6 class="title-subhny mb-2"><span>Ce que nous offrons ...</span></h6>
                        <h1 class="title-hero-19">Seul on va plus vite ... Ensemble on va plus loin !</h1>
                        <p class="mt-4">
                            La main-d'œuvre est l'épine dorsale de toute organisation ! Chaque individu apporte sa propre expertise,
                            sa passion et son dévouement à la réussite collective. En investissant dans le développement et le bien-être
                            de ses employés .

                        </p>
                        <p class="mt-4">
                            Nos prestataires offrent des services spécialisés qui permettent aux individus de déléguer 
                            efficacement certaines tâches. En collaborant avec eux, on accède à une expertise pointue et
                            à une flexibilité précieuse pour atteindre ses objectifs.

                        </p>
                        <div class="w3l-button mt-lg-5 mt-4">
                            <a href="services.html" class="btn btn-style btn-primary mt-2">En savoir plus </a>
                        </div>
                    </div>
                    <div class="col-lg-6 cwp23-text mt-lg-0 mt-5 pl-lg-5">
                        <div class="imgw3l-ab w3l-news">
                            <div class="grids5-info">
                                <a href="#" class="d-block zoom"><img src="~/assets/images/ab2.jpg" alt="" class="img-fluid news-image"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--//services-->
    <!--/w3l-services3-->
    <section class="w3l-services3" id="services">
        <div class="new-block">
            <div class="container py-5">
                <div class="middle-section py-lg-5 py-4">
                    <div class="section-width">
                        <h6 class="title-subhny mb-2"><span>Plus d'informations ...</span></h6>
                        <h1 class="title-hero-19">La commodité à votre porte ... Où le confort rencontre le service !</h1>
                    </div>
                    <div class="link-list-menu">
                        <p class="">
                            Le service à domicile révolutionne la manière dont les besoins sont satisfaits.
                            En offrant confort et praticité, il simplifie la vie quotidienne des individus, 
                            tout en leur permettant de se concentrer sur l'essentiel.
                        </p>
                        <div class="w3l-two-buttons">
                            <a href="about.html" class="btn btn-primary btn-white btn-style mt-lg-5 mt-4">En savoir plus </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//w3l-services3-->
    <!--/grids-->
    <section class="w3l-grids-3 py-5">
        <div class="container py-md-5 py-3">
            <div class="row bottom-ab-grids align-items-center">
                <div class="col-lg-6 bottom-ab-left">
                    <h6 class="title-subhny mb-2"><span>Nos services ...</span></h6>
                    <h2 class="title-hero-19">Nos services ... Votre tranquillité d'esprit , Notre engagement !</h2>
                </div>
                <div class="col-lg-6 bottom-ab-right mt-lg-0 mt-3 pl-lg-4">
                    <p class="">
                        Nos services vont au-delà de la simple prestation. Chaque interaction est une opportunité de 
                        dépasser les attentes, offrant à nos clients une expérience inégalée, axée sur la qualité et la satisfaction.
                    </p>
                </div>

            </div>
            <div class="row bottom_grids pt-md-3 text-left">
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-wrench"></span>
                            <h4 class="my-3">Plomberie</h4>
                            <p class="">Des experts pour résoudre tous vos problèmes de plomberie, des fuites aux installations sanitaires.</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-tools"></span>
                            <h4 class="my-3">Menuiserie</h4>
                            <p class="">Des artisans qualifiés pour réaliser vos projets de construction et de rénovation sur mesure.</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-bolt"></span>
                            <h4 class="my-3">Électricité</h4>
                            <p class="">Des professionnels pour assurer la sécurité et le bon fonctionnement de vos installations électriques.</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-paint-brush"></span>
                            <h4 class="my-3">Peinture</h4>
                            <p class="">Transformez votre espace avec des services de peinture de qualité, pour un intérieur ou un extérieur éclatant.</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-leaf"></span>
                            <h4 class="my-3">Jardinage</h4>
                            <p class="">Des jardiniers expérimentés pour entretenir et embellir votre jardin, du gazon aux plantes.</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-tools"></span>
                            <h4 class="my-3">Réparation des appareils </h4>
                            <p class="">Faites confiance à nos techniciens pour remettre en état vos appareils électriques . </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-key"></span>
                            <h4 class="my-3">Services de serrurerie </h4>
                            <p class="">
                                Des serruriers compétents spécialisés dans l'installation et la maintenance des serrures, 
                               afin de garantir la sécurité de votre domicile.
                             </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-broom"></span>
                            <h4 class="my-3">Nettoyage et entretien ménager </h4>
                            <p class="">Profitez d'un environnement bien entretenu grâce à nos services de nettoyage professionnels. </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-truck-moving"></span>
                            <h4 class="my-3">Services de déménagement</h4>
                            <p class="">implifiez votre déménagement avec notre équipe expérimentée, pour un transfert sans stress.</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-dumbbell"></span>
                            <h4 class="my-3">Services de coaching sportif</h4>
                            <p class="">Atteignez vos objectifs de remise en forme et de performance sportive avec l'aide de coachs sportifs expérimentés et motivants.</p>
                        </a>
                    </div>
                </div><div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-window-maximize"></span>
                            <h4 class="my-3">Services de remplacement de vitres et de miroirs</h4>
                            <p class="">Réparez ou remplacez vos fenêtres et miroirs cassés pour restaurer la sécurité et l'esthétique de votre espace.</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-shield-virus"></span>
                            <h4 class="my-3">Services de désinfection </h4>
                            <p class="">Protégez votre maison ou votre entreprise contre les et les nuisibles avec des services 
                                de désinfection et de lutte antiparasitaire professionnels.</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-paint-roller"></span>
                            <h4 class="my-3">Services de décoration intérieure</h4>
                            <p class="">Transformez votre espace de vie en un lieu qui reflète votre style personnel avec l'aide
                                de décorateurs d'intérieur expérimentés.</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-recycle"></span>
                            <h4 class="my-3">Services de recyclage et d'élimination des déchets </h4>
                            <p class=""> Adoptez des pratiques écologiques en confiant la gestion de vos déchets
                                à des entreprises spécialisées.</p>
                        </a>
                    </div>
                </div>
               
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-industry" aria-hidden="true"></span>
                            <h4 class="my-3">Services de coaching sportif </h4>
                            <p class="">
                                Atteignez vos objectifs de remise en forme et de performance sportive avec l'aide de coachs sportifs expérimentés et motivants.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-gas-pump"></span>
                            <h4 class="my-3">Services de location de voitures </h4>
                            <p class="">
                                Louez un véhicule adapté à vos besoins, que ce soit pour un voyage d'affaires, des vacances en famille ou tout autre déplacement.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-shield-alt"></span>
                            <h4 class="my-3">Services de conseil en assurance</h4>
                            <p class="">
                                Obtenez des conseils d'experts pour choisir les meilleures options d'assurance pour vous protéger, vous et vos biens, contre les risques potentiels.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-graduation-cap"></span>
                            <h4 class="my-3">Services de soutien scolaire à domicile</h4>
                            <p class="">
                                Des tuteurs qualifiés fournissent un accompagnement individualisé 
                                pour favoriser la réussite scolaire.
                            </p>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-hands-helping"></span>
                            <h4 class="my-3">Services de soutien informatique à distance </h4>
                            <p class="">
                                Résolvez les problèmes de votre ordinateur ou de votre réseau à distance avec l'aide de techniciens qualifiés, sans avoir à vous déplacer.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-medkit"></span>
                            <h4 class="my-3"> Services de santé et de bien-être</h4>
                            <p class="">
                                Prenez soin de votre santé physique et mentale en consultant des professionnels  du bien-être, tels que des nutritionnistes, 
                                des coachs de vie et des thérapeutes.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-users"></span>
                            <h4 class="my-3">Services de coaching parental </h4>
                            <p class="">
                                Obtenez des conseils et un soutien personnalisés pour surmonter les défis de l'éducation des enfants et favoriser un environnement familial harmonieux.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-stethoscope"></span>
                            <h4 class="my-3">Services de diagnostic médical à domicile</h4>
                            <p class="">
                                Bénéficiez de consultations médicales pratiques à domicile pour le diagnostic et le traitement de problèmes de santé courants, 
                                avec l'aide de professionnels de la santé qualifiés.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-ring"></span>
                            <h4 class="my-3">Services de planification de mariage et d'événements </h4>
                            <p class="">
                                Créez des événements mémorables et sans stress avec l'aide de planificateurs d'événements expérimentés qui géreront tous les détails pour vous.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-map-marked-alt"></span>
                            <h4 class="my-3">Services de guide touristique local </h4>
                            <p class="">
                                Proposez des visites guidées personnalisées à travers les villes et les sites historiques du Maroc.
                                Les guides locaux peuvent offrir des circuits adaptés aux intérêts spécifiques des visiteurs en proposant des itinéraires.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-hands-helping"></span>
                            <h4 class="my-3">Services de soutien aux personnes âgées </h4>
                            <p class="">
                                Assurez le bien-être et la sécurité des personnes âgées en leur fournissant des services de soutien à domicile et des soins personnalisés.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-broom"></span>
                            <h4 class="my-3">Services de nettoyage de tapis et de moquettes </h4>
                            <p class="">
                                Rafraîchissez et revitalisez vos tapis et moquettes avec des services de nettoyage professionnels.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="grid-block">
                        <a href="blog-single.html" class="d-block p-lg-4 p-3">
                            <span class="fas fa-tools"></span>
                            <h4 class="my-3">Services de rénovation de toiture</h4>
                            <p class="">
                                Offrez des services de réparation, de rénovation et de remplacement de toiture pour les propriétés résidentielles et commerciales.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//grids-->
    <!-- footer17 -->
    <footer class="footer-17">
        <div class="footer17_sur py-5">
            <div class="container py-lg-5 py-md-4">
                <div class="row footer17-top">

                    <div class="col-lg-4 footer17-top-left2_sur pr-lg-5">
                        <h6> À propos de nous ...</h6>

                        <p>
                            Khidma est une Plateforme E-service marocaine réalisée
                            par cinq jeunes filles, étudiantes en quatrième année de génie informatique à l'Ecole des Hautes Etudes d'Ingénierie.
                            Notre application vise à faciliter l'accès aux services domestiques en mettant en relation les utilisateurs avec des prestataires de services qualifiés et fiables.
                            Notre objectif est d'offrir une solution pratique et efficace pour répondre aux besoins des utilisateurs, tout en
                            promouvant l'entrepreneuriat féminin et l'innovation technologique au Maroc.
                        </p>
                        <a href="#get" class="btn btn-style btn-primary mt-lg-5 mt-4">Contactez-nous</a>
                    </div>





                    <div class="col-lg-4 footer17-top-left1_sur mt-lg-0 my-5">

                        <h5 class="">
                            Liens rapides
                        </h5>
                        <div class="footer-listw3-grids">
                            <ul class="footer-listw3">
                                <li><a href="index.html">Acceuil</a></li>
                                <li><a href="about.html">À propos</a></li>
                                <li><a href="#">Billets de Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>

                            </ul>
                            <ul class="footer-listw3">
                                <li><a href="#privacy">Politique de confidentialité</a></li>
                                <li><a href="#term">Conditions d'utilisation</a></li>
                                <li><a href="#sales">Ventes et Remboursements</a></li>
                                <li><a href="#faq">QFP</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 footer17-top-left4_sur footerw3-instagram pl-lg-5 ">
                        <h6>Réseaux sociaux</h6>
                        <div class="row">
                            <div class="col-4 img-gd-f">
                                <a href="#"> <img src="~/assets/images/1.jpg" alt="" class="radius-image img-fluid"></a>
                            </div>
                            <div class="col-4 img-gd-f">
                                <a href="#"> <img src="~/assets/images/2.jpg" alt="" class="radius-image img-fluid"></a>
                            </div>
                            <div class="col-4 img-gd-f">
                                <a href="#"> <img src="~/assets/images/3.jpg" alt="" class="radius-image img-fluid"></a>
                            </div>
                            <div class="col-4 img-gd-f mt-4">
                                <a href="#"> <img src="~/assets/images/4.jpg" alt="" class="radius-image img-fluid"></a>
                            </div>
                            <div class="col-4 img-gd-f mt-4">
                                <a href="#"> <img src="~/assets/images/5.jpg" alt="" class="radius-image img-fluid"></a>
                            </div>
                            <div class="col-4 img-gd-f mt-4">
                                <a href="#"> <img src="~/assets/images/1.jpg" alt="" class="radius-image img-fluid"></a>
                            </div>
                        </div>
                        <ul class="footers-17_social mt-lg-5 mt-4">
                            <li><a href="#url" class="twitter"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#url" class="facebook"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#url" class="linkedin"><span class="fab fa-linkedin-in"></span></a></li>
                            <li><a href="#url" class="instagram"><span class="fab fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright text-center">
                <div class="container">
                    <div class="container">
                        <p class="copy-footer-29">
                            © 2024 Secttore. Tous droits réservés
                        </p>
                    </div>
                </div>
            </div>
            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <i class="fas fa-long-arrow-alt-up"></i>
            </button>
            <script>
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function () {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            </script>
            <!-- /move top -->
        </div>
    </footer>
    <!-- //footer17 -->
    <!-- Template JavaScript -->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/theme-change.js"></script>
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <script src="~/assets/js/bootstrap.min.js"></script>

</body>

</html>